body {
  background-size: cover;
  background-color: #f8faf6;
  overflow: hidden;   
    
    height: 100vh;
    padding:0;
    

  /*margin: auto;*/
  /*width: 500px; */
  /*padding: 250px;*/
  font-family: 'Graphik', sans-serif;
  color: black;
  word-spacing: 4px;
}

h1 { font-size: 38;
  text-align: left;
  font-family: 'VT323', monospace;
  color: #0000FF;
    
    
          margin-bottom: 0;
          margin-left: auto;
          margin-right: auto;
          position: absolute;
          top: 26%;
          left: 51.5%;
          text-align: left;
          transform: translate(-64%, -64%);
          width: 20%;
      
  }

.tc-container0 {
                display: flex;
                gap: 2px;
                float: right;
            }

            .tc-container {
                overflow: hidden;
                width: 40px;
                height: 40px;
                top: 8px;
                right: 8px;
                position: relative;
                
            }

            .top-img {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }

            .top-img:hover{
                opacity: 1;
            }

            .tc-container img{
                width: 100%;
                height: 100%;
            }

            .tc-container2 {
                overflow: hidden;
                width: 40px;
                height: 40px;
                top: 8px;
                right: 8px;
                position: relative;
                
                
            }

            .top-img2 {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }

            .top-img2:hover{
                opacity: 1;
            }

            .tc-container2 img{
                width: 100%;
                height: 100%;
            }

            .tc-container3 {
                overflow: hidden;
                width: 50px;
                height: 50px;
                top: 1px;
                right: 8px;
                position: relative; 

            }

            .top-img3 {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }

            .top-img3:hover{
                opacity: 1;
            }

            .tc-container3 img{
                width: 100%;
                height: 100%;
            }

            .tc-container4 {
                overflow: hidden;
                width: 40px;
                height: 40px;
                top: 8px;
                right: 8px;
                position: relative;
                    
            }

            .top-img4 {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }

            .top-img4:hover{
                opacity: 1;
            }

            .tc-container4 img{
                width: 100%;
                height: 100%;
            }

            .tc-container5 {
                overflow: hidden;
                width: 40px;
                height: 40px;
                top: 8px;
                right: 8px;
                position: relative;
                    
            }

            .top-img5 {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }

            .top-img5:hover{
                opacity: 1;
            }

            .tc-container5 img{
                width: 100%;
                height: 100%;
            }

a{ color: black;
          text-decoration: none; }

          a: hover {color: gray;}

p {font-family: 'Graphik', sans-serif;
   font-size: 15;
   color: black;
   background: none;
   margin-top: 0px;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: left;
   transform: translate(-40%, -40%);
   width: 28%;
         
 }

 #plavi { 
  position: absolute;
  top: 45%;
  left: 0%;
  animation-name: plavianim;
  animation-duration: 15S;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }

@keyframes plavianim {
  0% {
    top: 100%;
    left: 10%;
  }
50% {
  top: 0%;
  left: 60%;
}


  100% {
    top: 30%;
    left: 100%;
  }

}

 #sivi { 
  position: absolute;
  top: 45%;
  left: 0%;
  animation-name: sivianim;
  animation-duration: 7S;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }

@keyframes sivianim {
  0% {
    top: 10%;
    left: 100%;
  }


  100% {
    top: 100%;
    left: 75%;
  }

}

 #pisko { 
  position: absolute;
  top: 45%;
  left: 0%;
  animation-name: piskoanim;
  animation-duration: 25S;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }

 @keyframes piskoanim {
  0% {
    top: 90%;
    left: 0%;
  }

  30% {
    top: 75%;
    left: 99.5%;
  }

  50% {
    top: 60% ;
    left: 50%;
  }

  70% {
    top: 45%;
    left: 0%;
  }

  100% {
    top: 10%;
    left: 100%;
  }

}

 #zeleni { 
  position: absolute;
  top: 45%;
  left: 0%;
  animation-name: zelenianim;
  animation-duration: 25S;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }

 @keyframes zelenianim {
  0% {
    top: 10%;
    left: 0%;
  }

  30% {
    top: 30%;
    left: 80%;
  }

 
  70% {
    top: 70%;
    left: 60%;
  }

  100% {
    top: 80%;
    left: 100%;
  }

}

 #narandzasti { 
  position: absolute;
  top: 45%;
  left: 0%;
  animation-name: narandzastianim;
  animation-duration: 10S;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }

 @keyframes narandzastianim {
   0% {
    top: 10%;
    left: 0%;
  }

  100% {
    top: 90%;
    left: 99.5%;
  }


}


.tekst {
  font-size: 16px;
  margin-top: -10px;
  line-height: 20px;
}

.plisko {
padding-bottom: 20;
margin-top:0;
padding-left: 20;
padding-right:20;
padding-bottom:0;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;}



.cursor {
              z-index: 999;
              position: fixed;
              background: #0000FF;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              pointer-events: none;
              box-shadow: 0 0 20px #0000FF,
                          0 0 60px #0000FF,
                          0 0 100px #0000FF;
              animation: colors 25s infinite;
              transform: translate(-50%, -50%);
              display: none;
            }

            @keyframes colors{
              0%{
                filter: hue-rotate(0deg);
              }
              100%{
                filter: hue-rotate(360deg);
              }
            }

            .cursor:before{
              content: '';
              position: absolute;
              background: #0000FF;
              width: 50px;
              height: 50px;
              opacity: 0;
              transform: translate(-30%, -30%);
              border-radius: 50%;
            }

